 <div class="container">
 	<div class="col-md-12">
 		<h1>Our Story</h1>

<%= image_tag("dani-profile.png", id: "dani-profile") %> 
<p>Hi I’m Danielle and I... well, like to run in fancy dress.</p> 
	

<p>Together with my co-founder Dave, we have created Gazella Running Costumes. </p>
 
<p>Based in London, we want to encourage runners everywhere to dress up and bring a bit of fun to their races by making running costumes that are fast, light and fun. </p>
 
<p>Gazella Running Costumes was inspired by the London Marathon.  From watching the event,  I noticed all the people running in costume seemed to be having the most fun.  You could easily pick them out of the crowds and they always got the loudest cheer from supporters. </p>
 
<p>So when I entered the Marathon in 2012, I knew I had to run in costume. I searched far and wide to find a costume that was fun, light and comfortable.  I wanted it to look good but not jeopardize the months of training I had put in, but the more I searched, the more frustrated I got.  Traditional costumes were too heavy, awkward or unflattering and just weren’t suited to running longer distances in.  I ended up running in a regular costume but the chaffing that ensued deserves a story of its own.</p>
 
<p>The experience was amazing though, and the crowd support overwhelming.  Along every part of the course, the crowd would point me out and cheer me on in particular, amongst the thousands of other runners.  I felt like a mini celebrity and also like I was giving a little bit of entertainment back.</p>  
 
<p>Every runner should experience it at least once in their lives, so jump on the bandwagon and try out one of our costumes and make the most of your race day!</p>
 	</div>
</div>

