 <div class="container">
 	<div class="col-md-12">

 		<h1>Privacy Policy</h1>
 		
 		<p>Gazella Ltd. is committed to ensuring the privacy of our customers' personal information. This policy describes the information we collect and how we use it. By visiting our website, you are accepting the practices described in this policy. </p>
 
		<h4>1. Personal Information </h4>
		 
		<p>Gazella Ltd limits its requests for information to what is required to ensure accurate service. We collect and store information that you provide to our website and our customer service. For example, when you you place an order through our website, you will be asked to set up an account and provide an e-mail address and password. In order to help protect your personal information, you should be careful about providing your password to others.
		We collect and store some or all of the following information that you provide: name, billing address, shipping address, email address, telephone number. We do NOT store credit card information.</p>
		 
		<p>While we try our best to safeguard your personal information once we receive it, no transmission of data over the Internet or any other public network can be guaranteed to be 100% secure.</p>
 
		<h4>2. Anonymous Information</h4>
		 
		<p>Through your use of our website, we may also gather certain information that does not identify you individually. We have the ability to track what pages are visited and what products are viewed. This information is used to customize our site, improve the online experience and to provide our customers with a fulfilling shopping experience.</p>
		 
		<p>We collect and store certain other information automatically whenever you interact with our website. For example, we collect your IP address, browser information and reference site domain name every time you visit our website. We also collect information regarding customer traffic patterns and site usage. </p>
		 
		<h4>3. Information Voluntarily Provided </h4>
		 
		<p>There are times when you may provide information to us voluntarily. This occurs when you provide feedback to us through emails. We use this information to respond to your query, to keep track of customer feedback and to improve our service to customers.</p>
		 
		<h4>4. Internet Database</h4>
		 
		<p>Gazella Ltd. has created an Internet database to allow customers to store their shipping and billing information, track the status of their order and list previous orders. This information is accessed through the Account section of the site.</p>
		 
		<h4>5. Marketing Practices </h4>
		 
		<p>Gazella Ltd. does not sell or otherwise share your personal information with anyone else, such as advertising agencies or marketing companies. We only send marketing information to those customers who specifically sign up for our mailing list. </p>
		 
		<h4>6. Disclosure and Retention of Personal Information</h4>
		 
		<p>Gazella Ltd. will share your personal information internally with those staff members who need it to complete your purchase or carry out your instructions regarding the receipt of marketing information. Authorized Gazella Ltd. service providers may also have access to this information in order to carry out their responsibilities directly connected with the processing of your purchases or handling of customer service issues. Outside of these activities, we will not disclose your personal information to any third party without your written consent unless required to do so by law.</p>
		 
		<p>Like most other websites, Gazella Ltd. makes use of "cookies" to help deliver a better customer shopping experience. Cookies are alphanumerical identification elements that we transfer to the hard drive of your computer via your web browser. They enable our systems to recognize your browser and to offer you valuable services, such as saving the contents of your cart, to allow you to access your account information and to deliver a more personalized shopping experience.</p>
		 
		<h4>7. Accuracy and Protection of Personal Information</h4>
		 
		<p>Gazella Ltd. relies on our customers to notify us of any changes in personal information. Only those staff members who need your personal information in order to respond to your requests are given access to it. All information stored in our computer system is protected from unauthorized access and information that is stored in document form is kept in secure locations to prevent access by unauthorized persons.</p>
		 
		<h4>8. Information from Children</h4>
		 
		<p>We do not knowingly collect or solicit personal information from children under 13.</p>
		 
		<h4>9. Transaction Security</h4>
		 
		<p>In order to make every effort to ensure that your experience on the Gazella Ltd is hassle-free, we use paypal to as our merchant services provider. Paypal is world leader in e-commerce transactions and use the latest technology to ensure your transactions are secure. For more information visit the Paypal website www.paypal.com.</p>
		 
		<h4>10. Link To or From Another Website</h4>
		 
		<p>Our Website may contain links to other websites. Our Policy does not apply to the practices of other websites and Gazella Ltd. is not responsible for the actions and privacy policies of third parties. We encourage you to be aware of when you leave our website and to read the privacy policies of each website that you visit.</p>
		 
		<h4>11. Legal and Safety Disclosures</h4>
		 
		<p>We may access or disclose information about you, including the content of your communications, in order to: (a) comply with the law or respond to lawful requests or legal process; (b) protect the rights or property of Gazella Ltd. or our customers, including the enforcement of our agreements or policies governing your use of our website and services; or (c) act on a good faith belief that such access or disclosure is necessary to protect the personal safety of Gazella Ltd. employees, customers or the public.</p>
 	</div>
</div>