<div class="container">
	<div class="col-md-12">
		<h1>Shipping and Taxes</h1>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Shipping Information</h3>
			</div>
			<div class="panel-body">
				<p>We currently ship internationally from Australia. Most of customers are in the UK and USA.</p>

				<p>We charge a simple flat rate of just AUD$25 for shipping internationally and $10 to ship within Australia.</p>
 
				<p>Getting your running costumes to you safely and quickly is super important to us.  
				We use Australia Post Pack and Track recorded services for all packages.</p>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Delivery Timelines</h3>
			</div>
			<div class="panel-body">
				<p>Orders are processed within 1-3 days.</p>

				<p>Please let us know if your order is urgent and we will do our best to expedite the process!</p>

				<p>From the time of dispatch it will take between 3-5 working days for Australian orders and 5-10 working days for international orders to arrive. You will be notified via email when your order is on its way.<p>

				<span>If you have any special instructions, please enter this at check out. We will do our best to accomodate these instructions.</span>
			</div>
		</div>  

 		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Tax Information</h3>
			</div>
			<div class="panel-body">
				<p>Unless otherwise stated, all products are listed in Australian Dollars (AUD)</p>

				<p>We charge Goods and Services Tax (GST) on all Australian orders (based upon the shipping address completed at checkout). If you do not live in Australia no GST will be charged however duties, taxes or destination fees may be charged by your country. Please check with your local customs agency for more details.</p>
				 
				<p>You are responsible for paying any additional local fees and applicable taxes, including any sales taxes, associated with the delivery of Gazella Active products.</p>

				<p>Some useful information we have picked up from past experiences:<p>
				 
				<h4>USA Tax</h4>
				<p>At time of writing customs duty was not chargeable where the value of clothing was less than USD$250.</p>
				 
				<h4>UK Tax</h4>
				<p>At time of writing the UK was charging VAT on imported goods where the value was greater than £36. In addition import handling fees may be charged (Royal Mail was charging £8). </p>
				 
				<h4>Canada Tax</h4>
				<p>At time of writing, GST and provincial sales tax is expected to be chargeable on all goods imported into Canada. Please take these costs into consideration.</p>
				 
				<h4>New Zealand Tax</h4>
				<p>At time of writing duty and GST was not chargeable when the value of the goods were less than NZ$60.</p>
			</div>
		</div>
		 
	</div>
</div>