<div class="container">
	<div class="col-md-12">
		<h1>Shipping and Taxes</h1>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Shipping Information</h3>
			</div>
			<div class="panel-body">
				<p>We currently ship to the UK and the rest of Europe, USA, Australia, Canada and New Zealand. We are working on adding more countries in future. Contact us for further information.</p>

				<p>We charge a simple flat rate of just £5 for shipping to the UK and £15 to ship anywhere else internationally.</p>
 
				<p>Getting your running costumes to you safely and quickly is super important to us.  That's why we insist on your order being signed for.  
				We use Royal Mail First Class Recorded Signed For services for packages within the UK and Airmail for international delivery.</p>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Delivery Timelines</h3>
			</div>
			<div class="panel-body">
				<p>Generally if you place your order before midday, we will try and process the order the same day.  If not;<p>
		 
		 		<ul>
					<li>If it's after midday, the order won't be processed until the following day.</li>
					<li>If it's a Friday afternoon or weekend, the order won't be processed until Monday.</li>
				</ul>
		 
				<p>From the time of dispatch it will take between 3-5 working days for UK orders and 7-10 working days for international orders to arrive. You will be notified via email when your order is on its way.<p>

				<span>If you have any special instructions, please enter this at check out. We will do our best to accomodate these instructions.</span>
			</div>
		</div>  

 		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Tax Information</h3>
			</div>
			<div class="panel-body">
				<p>We show all our prices including Value Added Tax (VAT). 20% VAT is chargeable for all orders within the UK and Europe.
				Prices are also shown (Ex Tax) ie excluding tax. No VAT will be charged on orders to Australia, New Zealand and USA.
				The customer location is based upon shipping address completed at checkout. </p>
				 
				<p>Unless otherwise stated, all products are listed in Great Britain Pounds (GBP). You are responsible for paying any additional local fees and applicable taxes, including any sales taxes, associated with the delivery of Gazella Ltd products.</p>
				 
				<h4>USA Tax</h4>
				<p>At time of writing customs duty was not chargeable where the value of clothing was less that USD$250.</p>
				 
				<h4>Australia Tax</h4>
				<p>At time of writing GST was not chargeable where the value of the goods was less than AUD$1,000.</p>
				 
				<h4>Canada Tax</h4>
				<p>At time of writing, GST and provincial sales tax is expected to be chargeable on all goods imported into Canada. Please take these costs into consideration.</p>
				 
				<h4>New Zealand Tax</h4>
				<p>At time of writing duty and GST was not chargeable when the value of the goods were less than NZ$60.</p>
			</div>
		</div>
		 
	</div>
</div>