<div class="container">
	<div class="col-md-12">
		<h1>Size Guide</h1>

		<p>Our running costumes come in ladies sizes ranging from XS to L.  Below is a size guide to help you choose the right size for you.</p>

		<p>Our costumes are relatively fitted but have a fair bit of stretch in them.  The models in the photos are all wearing a size small.  If you have any questions on getting the right size for you, don't hesitate to contact us via email, Twitter or Facebook.  </p>
		<br>

	<table class="table">
		<tbody>
			<tr>
				<td><strong>Gazella Size</strong></td>
				<td><strong>UK Equivalent</strong></td>
				<td><strong>US Equivalent</strong></td>
			</tr>
			<tr>
				<td>XS</td>
				<td>6</td>
				<td>4</td>
			</tr>
			<tr>
				<td>S</td>
				<td>8</td>
				<td>6</td>
			</tr>
			<tr>
				<td>M</td>
				<td>10-12</td>
				<td>8-10</td>
			</tr>
			<tr>
				<td>L</td>
				<td>14-16</td>
				<td>12-14</td>
			</tr>
		</tbody>
	</table>

<p>If you order the incorrect size, don't stress! Check out our returns policy.  We'll do what we can to make sure you are running in a comfortable costume come race day.</p>

	</div>

</div>