 <div class="container">
 	<div class="col-md-12">

 		<h1>Terms and Conditions</h1>
 		<h4>1. CONDITIONS OF USE</h4>

 
		<h5>1.1 Use of the Services and Web Site</h5>
		<p>The web site rungazella.co.uk (the "Web Site") and the goods and services on it are offered to you for your personal and non-commercial use only. Commercial use of this Web Site is strictly prohibited.</p>
 
		<p>You agree to comply with all applicable laws, statutes and regulations in connection with the use of the Web Site and goods (the "Goods") or services (the "Services") obtained via the Web Site and in entering all competitions endorsed by Gazella Ltd (the "Competitions"). The Goods, Services and Competitions are together referred to as the "Supplies".</p>
 
		<p>By using the Web Site, you unconditionally agree to be bound by these terms and conditions.</p>
 
		<h5>1.2 Restrictions on Use</h5>
		<p>As a condition of your use of this Web Site and the Services you agree that you will not: 
		(a) reverse engineer or decompile (whether in whole or in part) any software available through the Web Site (save to the extent expressly permitted by applicable law); 
		(b) remove, change or obscure any product identification or notices of proprietary rights or any restriction on or in the Supplies and/or the Web Site; 
		(c) remove any copyright, trade mark or other intellectual property right notices contained in material on the Web Site or Supplies; 
		(d) make copies, modify, reproduce, republish, post, transmit, distribute or alter (including the creation of HTML links to or from the Web Site) all or any part of the Web Site or any materials contained on it.</p>
 
		<h5>1.3 Unlawful or Improper Use</h5>
		<p>You must not use the Web Site or the Supplies for any unlawful purposes. In particular, you must not: 
		(a) publish, post, upload, distribute, disseminate or otherwise transmit, information or pictures that are obscene or pornographic, threatening, menacing, racist, offensive, defamatory, libellous, or are alleged to be, or are in the opinion of Gazella Ltd, otherwise unlawful ; 
		(b) upload files that contain software or other materials in breach of any intellectual property rights or in breach of confidence;
		(c) download any file of materials posted by another user that you know, or reasonably should know cannot be copied or otherwise used legally or unacceptable;
		(d) harass, stalk, threaten or otherwise infringe the rights of others; 
		(e) hack into any web site, deliver viruses  or other harmful programs or forward chain letters, surveys, contests, pyramid schemes or engage in any other behaviour likely to inhibit any other user from using and enjoying the Web Site or the Services or that is otherwise likely to damage or destroy the reputation of the Web Site or Gazella Ltd; 
		(f) advertise or offer to sell goods or services;</p>
 
		<h5>1.4 Monitoring and disclosure</h5>
		<p>Gazella Ltd accepts no obligation to (but may in its discretion) monitor the use of the Web Site and/or the Services by you. Gazella Ltd reserves the right to disclose any information or material which may be provided by you if required by law or regulations and to remove, refuse to post or to edit any such information or material and to take such other action as may be reasonably necessary to prevent any breach of these terms and conditions.</p>
 
 
		<h4>2. INTELLECTUAL PROPERTY RIGHTS</h4>
 
		<p>This Web Site (including the software used to operate it) and the trade marks and any information or material used in connection with the Web Site and the Supplies are owned by Gazella Ltd and/or its licensors. You are not granted any right or interest in these except as stated in these terms and conditions.</p>
 
 
		<h4>3. OPERATION OF THE SERVICES AND WEB SITE</h4>
 
		<p>Gazella Ltd may at its sole discretion from time to time without notice change the format and content of this Web Site and/or the Services and suspend the operation of the Web Site and/or the Services, for example, for repair or maintenance work, or in order to update or upgrade the contents or functionality of the Web Site and/or the Services.</p>
 
		<p>You are responsible for obtaining and updating your own web browser, and for all amounts payable in respect of connection to the internet including any telecommunications charges for time spent online in respect of use of the Web Site.</p>
 
		<p>You will comply with all directions and instructions given by Gazella Ltd in relation to the use of and access to the Web Site and the Services. Gazella Ltd does not accept responsibility for the security or content of any information which you may supply through the Web Site or the Services and will not be liable for the content of any communications or messages received by you from other users.</p>
 
 
		<h4>4. DISCLAIMER AND LIMITATIONS OF LIABILITY</h4>
 
		<p>Gazella Ltd does not exclude or limit liability for death or personal injury resulting from its negligence or any other liability which may not, by applicable law, be excluded or limited.</p>
		 
		<p>Subject to the paragraph above in this clause 4, in no event shall Gazella Ltd, its directors, employees or other representatives be liable (whether for breach of contract, negligence or for any other reason) for any loss of profits, loss of sales, loss of revenue, loss of any software or data, loss of bargain, loss of opportunity, loss of use of computer equipment, software or data, loss of or waste of management or other staff time, or for any indirect, consequential or special loss (howsoever arising).</p>
		 
		<p>Subject to the two paragraphs above in this clause 4, Gazella Ltd liability to you whether in contract, tort or howsoever arising is limited to the amount paid by you to Gazella Ltd in respect of the relevant Supplies.</p>
		 
		<p>You shall indemnify and keep indemnified Gazella Ltd against any loss or damage arising from your unauthorised use of the Web Site or your disclosure of any password or username and from all actions, proceedings, claims, demands, costs (including legal costs), awards and damages howsoever arising, directly or indirectly as a result of any breach or non-performance by you of any of your obligations under these terms and conditions.</p>
		 
		<p>Gazella Ltd supplies this Web Site and the Supplies "as is" and, to the fullest extent permitted by law, makes no representations or warranties (express or implied) of any kind, including but not limited to, the accuracy, quality, suitability, fitness for purpose or completeness of any information or materials made available on this Web Site or the Supplies, or any third party web sites linked from this Web Site. Gazella Ltd shall not be liable for any action taken by you as a result of your relying on any information provided in this Web Site or the Supplies or third party web sites or for any loss or damage suffered by you as a result of you taking such action or as a result of you purchasing any Supplies from a third party. </p>

		<p>Gazella Ltd does not accept responsibility for the security or content of any information which you may supply through this Web Site or the Services and will not be liable for the content of any communications or messages received by you from other users including any content posted by other users in chat rooms.</p>
		 
		<p>You are solely responsible for your use of this Web Site, Supplies, any username, password and any information made available on this Web Site from time to time and for any consequences or effects (whether direct or indirect) of such use.</p>
		<p>Gazella Ltd does not warrant that this Web Site or the Supplies will be uninterrupted or error or defect free and shall not be responsible for the non-performance or interruption of this Web Site or the Services or for any viruses transmitted through this Web Site or the Services.</p>
		 
		<p>Any links from this Web Site to third party web sites do not constitute an endorsement by Gazella Ltd of any products or services available on such web sites and Gazella Ltd does not necessarily support or approve of them. You use such links entirely at your own risk and Gazella Ltd accepts no responsibility for the content or use of such web sites or information contained in them.</p>
		 
		<h4>5. BUYING GOODS AND SERVICES ON THIS WEB SITE</h4>
		 
		<h5>5.1 Contracting party</h5>
		<p>You may be able to purchase Supplies via this Web Site either direct from Gazella Ltd or from third parties. You must ensure that, if you do intend to make any purchases, you know the identity of the company with which you will be contracting. Any contract you conclude with third parties will be on their terms and conditions and Gazella Ltd will accept no liability whatsoever in respect of such contracts. Third party terms and conditions should be available in the checkout or other appropriate section of the relevant Gazella Ltd or third party web site. The following paragraphs of this clause 5 contain terms and conditions relating solely to any sale or provision of Supplies direct to you by Gazella Ltd, not by any third party.</p>
		 
		<h5>5.2 Prices</h5>
		<p>The prices of all Goods are clearly marked in their description and are inclusive of VAT and duty (if applicable). All delivery charges are also displayed on this Web Site.</p>
		 
		<p>At any given time, despite our best efforts, a small number of the items on our site may be mispriced. We do, however, verify prices as part of our shipping procedures. If an item's correct price is lower than our stated price, we charge the lower amount and ship you the item. If an item's correct price is higher than our stated price, we will, at our discretion, either contact you for instructions before shipping or cancel your order and notify you of such cancellation.</p>
		 
		<h5>5.3 Conclusion of Contract of Sale</h5>
		<p>Any Supplies and prices of Supplies displayed on this Web Site constitute an invitation to treat. Once you go to the checkout section of this Web Site and click to purchase any Supplies, this constitutes an offer made by you to Gazella Ltd. Acceptance of your offer only occurs once you receive notification from Gazella Ltd of acceptance of your order.</p>
		 
		<h5>5.4 Period of Offer</h5>
		<p>Prices of any Supplies may be changed by Gazella Ltd at any time before the conclusion of an agreement to sell i.e. once you receive notification from Gazella Ltd of acceptance of your order.</p>
		 
		<h5>5.5 Payment </h5>
		<p>Payment is to be made by credit or debit card and all credit and debit card information will be encrypted for security. At no time does Gazella Ltd have access or see your credit card details. If you pay by Paypal, payments are made externally on Paypals own website. Once payment is complete you will be returned to rungazella.co.uk, and will receive a confirmation email from Gazella Ltd. All Paypal payments are covered under Paypal.co.uk terms and conditions.</p>
		 
		<h5>5.6 Delivery </h5>
		<p>Delivery of any Goods will be by post depending on the size and nature of the Goods to be supplied. If you order any item from Gazella Ltd it is you as the customer’s responsibility to ensure that all the details you provide to Gazella Ltd are correct. This includes your billing address, contact telephone numbers, email address (if applicable), and delivery address. It is not the responsibility of Gazella Ltd to correct any delivery address’, and under The Data Protection Act we cannot amend your billing address details. You can do this immediately through your customer account on rungazella.co.uk. We will ship goods to the address you as the customer provide us with. It is your responsibility to review all your billing address, contact telephone numbers, email address (if applicable), and delivery address) to ensure they are correct at the registration of your account, at the checkout and payment process, as well as to review all these details on your confirmation order email.</p>
		 
		<p>The Goods will normally be delivered within 15 days of the placement of the order. If delivery is delayed beyond 30 days, we will notify you that this is the case and you will have an option to cancel your order if the delay is unacceptable.</p>
		 
		<p>If any of the details on your delivery address are incorrect you can email us to advise us of any changes, but please be aware that we cannot always answer emails before your order is dispatched. Our advice would be to call us immediately on 07856 923 943 (UK) or +44 7856 923 943 (rest of world) to make the amendments.  Our phone lines are not operated 24 hours a day but you can leave a message at any time and we will amend the relevant details and call or email you to advise you of the change.</p>
		 
		<h5>5.7 Cancellation</h5>
		<p>You can cancel your contract before delivery, and up to 7 working days after delivery.  To do this, please e-mail us at sales@rungazella.co.uk or write to us. We will refund your money, excluding the original postage charges, within 30 days provided the supplies are unused and in original condition.</p>
		 
		<p>If you cancel, you must return the goods to us at your own expense.  You are responsible for the risk of loss or damage when you return goods, so you should take out enough postal insurance to cover their value. If you fail to return the goods, we will assume you are keeping the supplies.  If you fail to take reasonable care of the goods before they are returned to us, and this results in damage or deterioration, we will charge you for the reduction in value.</p>
		 
		 
		<h4>6. TERMINATION </h4>
		 
		<p>Gazella Ltd reserves the right to terminate this agreement and your access to this Web Site and the Services at any time and without notice, for any reason whatsoever. Gazella Ltd also reserves the right to bar anyone from using this Web Site and the Services.</p>
		 
		<p>On termination, you will immediately stop using any username and password and the Services and will return any such username and password to Gazella Ltd within 5 days of such termination and destroy (so that they cannot be retrieved) all records or copies you may hold of the username and password and any information about or obtained from this Web Site and the Services.</p>
		 
		 
		<h4>7. RETURNS </h4>
		 
		<p>We can only accept items returned to us within 30 days from the date your order was despatched. Items that do not reach us within 30 days will not be valid for exchange or replacement. If you wish to return an item, we advise that you act immediately upon receipt to obtain a returns number and return the item to us as soon as possible. We aim to answer all returns requests within 24 hours. Items must be returned to us in an unworn and unwashed condition and you must return the goods to us at your own expense. You are responsible for the risk of loss or damage when you return goods, so you should take out enough postal insurance to cover their value. You have a duty of care for the product so please be very careful when trying products on, for example, please ensure you are not wearing make-up, perfume, deodorant or antiperspirant which may leave marks on the product as we will not be able to arrange an exchange or refund for any item returned to us with any odour, marks or stains. Please thoroughly inspect any item you order from us on receipt as we will only accept products returned to us in their original condition unless we have been given prior notice that an item is faulty.. Your UK Statutory rights are not affected by our returns policy.</p>
		 
		 
		<h4>8 CONTRIBUTING CONTENT TO RUNGAZELLA.CO.UK</h4>
		 
		<p>8.1. By sharing any contribution (including any text, photographs, graphics, video or audio) with Gazella Ltd you agree to grant to the Gazella Ltd, free of charge, permission to use the material in any way it wants (including modifying and adapting it for operational and editorial reasons) for Gazella Ltd services in any media worldwide.</p>
		 
		<p>8.2. It's important to note, however, that you still own the copyright to everything you contribute to www.rungazella.co.uk. Gazella Ltd cannot guarantee that all text, copy, images or photographs will be used and we reserve the right to edit your comments.</p>
		 
		<p>8.3. Copyright in your contribution will remain with you and this permission is not exclusive, so you can continue to use the material in any way including allowing others to use it.</p>
		 
		<p>8.4. In order that the Gazella Ltd can use your contribution, you confirm that your contribution is your own original work, is not defamatory and does not infringe any UK laws, that you have the right to give Gazella Ltd permission to use it for the purposes specified above, and that you have the consent of anyone who is identifiable in your contribution or the consent of their parent / guardian if they are under 16.</p>
		 
		<p>8.5. Please do not endanger yourself or others, take any unnecessary risks or break any laws when creating content you may share with www.rungazella.co.uk.</p>
		 
		<p>8.6. If you do not want to grant Gazella Ltd the permission set out above on these terms, please do not submit or share your contribution to or with rungazella.co.uk.</p>
		 
		 
		<h4>9. CONTACT </h4>
		 
		<p>You may contact Gazella Ltd about any problems or questions with this Web Site at sales@rungazella.co.uk</p>
		 
		 
		<h4>10. GENERAL </h4>
		 
		<p>These terms and conditions shall be governed by and interpreted in accordance with the laws of England and you consent to the exclusive jurisdiction of the English Courts in all disputes arising out of or relating to the use of this Web Site or the provision of Supplies by Gazella Ltd. This Web Site is operated and controlled by Gazella Ltd from its offices in the United Kingdom. Gazella Ltd makes no representation that information or material contained at its Web Site is appropriate for use in other jurisdictions. Users who access the Web Site from other jurisdictions do so at their own initiative and are responsible for compliance with any local laws. </p>
		<p>You agree that Gazella Ltd may sub-contract the performance of any of its obligations or may assign these terms and conditions or any of its rights or obligations under them without notice. Gazella Ltd may delay enforcing its rights under these terms and conditions without losing them. If any provision of these terms and conditions is found to be unenforceable this shall not affect the validity of any other provision. Gazella Ltd may amend, vary or supplement these terms and conditions at any time. Gazella Ltd will post a notice of any such amendments on this Web Site and such amended terms and conditions will automatically be effective. These terms and conditions (as varied from time to time) form the entire agreement of the parties and supersede all previous agreements, understandings and representations relating to their subject matter.</p>
 	</div>
</div>