/*
* This is a manifest file that includes stylesheets for spree_frontend
* Spree_bootstrap_frontend overrides all spree’s default css and resets here in favour of bootstrap
*= require spree/frontend/spree_bootstrap_frontend

*= require_self
*= require_tree .
*/

.banner { position: relative; 
	overflow: auto; }
.banner li { list-style: none; }

.banner ul li { float: left; 
	color: red; 
	text-decoration: underline;
	font-size: 20px;}