<div id="headerline">
</div>

<div id="spree-header">

  <header id="header" data-hook>

    <div class="container">
        <figure id="logo" class="col-md-4 animated swing" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/main_nav_bar' %>    
        <!-- removed line below. Added above -->
        <!--<%= render :partial => 'spree/shared/nav_bar' %> -->
    </div>
  </header>

   <!-- remove the additional nav bar 
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div> -->

</div>